.flex-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(161, 40, 40, 0.493), rgb(127, 134, 168));
}

.board {
  width: 80%;
  height: 80%;
  display: grid;
  border-radius: 4px;
  border-style: solid;
  border-color: rgba(225, 9, 9, 0.774);
  border-width: 20px;
}

.board:hover {
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  min-height: 300px;
  width: 180vw;
  height: 180vw;
  max-width: 600px;
  max-height: 600px;
}

.title {
 font-family: Snell Roundhand, cursive;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
}

.button {
  padding: 15px;
  margin: 15px;
  border-radius: 2em;
  font-weight: 500;
  text-align: center;
  transition: all 0.2s;
}

button:hover {
  cursor: pointer;
}

.blackButton {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 13px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.blackButton:hover {
  background-color: rgb(9, 7, 7);
  color: rgb(202, 194, 194);
}

.eraserButton {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 13px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.grayButton {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 13px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.grayButton:hover {
  background-color: gray;
  color: white;
}

.psychedelicButton {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 13px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.psychedelicButton:hover {
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );

  color: rgba(45, 45, 44, 0.829);
}

.resetButton {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 13px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

input {
  padding: 5px 5px;
  border: unset;
  border-radius: 5px;
  z-index: 1;
  background: #e8e8e8;
  margin-top: 20px;
  font-size: 12px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.mode {
  margin-bottom: 10px;
  font-family: Chalkduster, fantasy;
  font-size: 12px;
}

.buttons {
  margin-top: 10px;
}

.setSize {
  padding: 10px 10px;
  border: unset;
  border-radius: 10px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;

  font-size: 12px;
}
